@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

.logo{
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
ul {
    float: left;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 10px;
    padding-top: 10px;
}
    
li a {
    display: block;
    float: left;
    text-align: center;
    font-size: 25px;
    width: 20px;
    width: auto;
    text-decoration: none;
    color: #a7c5d4;
    background-color: #ffffff00;
    padding: 5px 30px;
}

li a:hover {
    background-color: #a7c5d4;
    color: white;
    transform: translateY(-5px) scale(1.05);
}
li a:active {
    background-color: transparent;
    color: #a7c5d4;
    transform: translateY(5px) scale(0.95);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: white;
  font-size: 1.25rem;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: white;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: white;
  font-size: 1.25rem;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: white;
}

input::placeholder, textarea::placeholder {
  color: white;
  font-size: 1.25em;
}

input:focus::placeholder, textarea::focus::placeholder {
  color: white;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: white;
  font-size: 1.25rem;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: white;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: white;
  font-size: 1.25rem;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: white;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: white;
  font-size: 1.25rem;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: white;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: white;
  font-size: 1.25rem;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: white;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: white;
  font-size: 1.25rem;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: white;
}

body {
  font-family: 'Yeseva One';
  color: white;
  font-weight: 700;
}
section{
    background-image: url(https://www.peru.travel/Contenido/General/Imagen/en/326/1.1/Vinicunca.jpg);
    padding-top: 0px;
}

#form {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 10px auto 100px auto;
}

input {
  font-family: 'Yeseva One';
  font-size: 1.25rem;
  width: 470px;
  height: 50px;
  padding: 10px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: white;
  border: solid 4px white;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #a7c5d4;
  color: white;
}

textarea {
  width: 500px;
  max-width: 470px;
  height: 500px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #a7c5d4;
  font-family: 'Yeseva One';
  font-size: 1.25rem;
  border: solid 4px white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #a7c5d4;
  color: white;
}

#submit {
  width: 508px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Yeseva One';
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  outline:none;
  cursor: pointer;
  border: solid 4px white;
  border-top: none;
}

#submit:hover {
  color: white;
}
 